#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff;
	z-index:99; 
}

#status {
	width:192px;
	height:192px;
	position:absolute;
	left:50%; 
	top:50%; 
	background-image:url('https://unsia.ac.id/wp-content/uploads/2023/07/cropped-unsia-192x192.png'); 
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; 
	display: flex !important;
	align-items: flex-end !important;
	justify-content: center !important;
}

.navbar.fixed-top{
	border-top: 14px solid #134a7b;
}
.foto-list-berita {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.berita-truncate-1 {
    width:100%;
    overflow: hidden;
	line-clamp: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    background:#fff;
}

.berita-truncate-2 {
    width:100%;
    overflow: hidden;
	line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background:#fff;
}