/*------ body styling -------*/

body{
background-color: aliceblue;
font-family: 'Titillium Web', sans-serif;
}

.img-header{
    width: 500px;
    height: auto;
    position: relative;
    padding-inline: 25px;
    padding-top: 25px;
}

.img-content{
    width: 350px;
    height: auto;
    position: relative;
    padding-inline: 25px;
    padding-top: 15px;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.h1-heading{
    position: relative;
}

.b-color-red{
    color: red;
}

.a-italic-red{
    color: red;
    font-style: italic;
}

/*------ footer styling -------*/

.source-page{
    color: aliceblue;
}

.made-by{
    color: #0079ff;
    font-weight: 600;
}

/*------ embed video styling -------*/

.video-player{
    height: 350px;
    width: auto;
    position: relative;
    padding-inline: 25px;
}


/*------ table styling -------*/

table{
    width: 100%;

}

.th-ket{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-weight: 800;
    border: 2px solid darkslategray;
    background-color: darkgray;
}

.col-no-arwan,
.col-kejadian-arwan,
.col-dampak-arwan{
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    border: 2px solid darkslategray;
    background-color: aliceblue;
    width: auto;
}

.col-no-arwan-1{
    border: 1px solid darkslategray;
    text-align: center;
    width: 10%;
}

.col-kejadian-arwan-1{
    border: 1px solid darkslategray;
    text-align: center;
    width: 30%;
}

.col-dampak-arwan-1{
    border: 1px solid darkslategray;
    text-align: left;
    width: 60%;
}

/*------ form komentar styling -------*/

.comment-form {
    display: none;
    width: 100%;
}

input{
    width: 50%;
}

textarea{
    width: 100%;
}